<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotelManagement.Properties.Settings.QUANLYKHACHSANKIMANHConnectionString"
            connectionString="Data Source=OS0820GSH\LOVEGIVE;Initial Catalog=QUANLYKHACHSANKIMANH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HotelManagement.Properties.Settings.QUAN_LY_NHA_HANG_KHACH_SAN_HOAN_HIEPConnectionString"
            connectionString="Data Source=HOANGUYEN-PC\SQLEXPRESS;Initial Catalog=QUAN_LY_NHA_HANG_KHACH_SAN_HOAN_HIEP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HotelManagement.Properties.Settings.QUAN_LY_KHACH_SANConnectionString"
            connectionString="Data Source=(local);Initial Catalog=QUAN_LY_KHACH_SAN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>